body {
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.login-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.login {
    background-color: #181920;
    align-items: center;
    width: 355px;
    height: 50%;
    padding: 35px;
    border-radius: 10px;
}

.login form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input {
    margin-top: 10px;
    background-color: #111114;
    font-size: 1em;
    color: #CBD0F7;
    padding-left: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

.login-img {
    display: flex;
    align-items: center;
}

img {
    width: 300px;
    margin: 0 auto;
}

.login::placeholder {
    color: #CBD0F7;
    font-size: 14PX;
}

.login button {
    display: block;
    background-color: #5568FE;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    color: #CBD0F7;
    padding: 10px;
    margin-top: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease 0s;
}

.login button:hover {
    background-color: #7383ff;
}

p {
    color: #CBD0F7;
    display: flex;
    justify-content: space-around;
}

a {
    color: #5568FE;
    text-decoration: none;
    margin-left: 10px;
}